In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("../data/raw/BoilerPlant.csv", parse_dates=["Datetime"])
df.head(10)

,Datetime,BOI_FLOW_1,BOI_FLOW_2,BOI_GAS_CSUM_1,BOI_GAS_CSUM_2,BOI_RW_TEMP_1,BOI_RW_TEMP_2,BOI_STA_1,BOI_STA_2,BOI_SW_TEMP_1,...,HWL_RW_TEMP,HWL_SW_TEMP,OA_TEMP,PM_POW_1,PM_POW_2,PM_SPD_1,PM_SPD_2,PM_STA_1,PM_STA_2,SEC_POW
0,2018-01-01 01:00:00,364.566101,0.00068,1726.88233,0.0,99.939835,68.002411,1.0,0.0,124.927963,...,112.734955,124.921814,9.070051,11.446084,11.446084,1.0,1.0,1.0,1.0,501.202392
1,2018-01-01 01:01:00,364.566101,0.00068,1726.88233,0.0,100.435318,68.002525,1.0,0.0,125.432343,...,113.130737,125.426247,8.771828,11.446084,11.446084,1.0,1.0,1.0,1.0,501.943166
2,2018-01-01 01:02:00,364.566101,0.00068,1726.88233,0.0,100.927284,68.002640,1.0,0.0,125.931839,...,113.536903,125.925797,8.786055,11.446084,11.446084,1.0,1.0,1.0,1.0,503.352647
3,2018-01-01 01:03:00,364.566101,0.00068,1726.88233,0.0,101.416176,68.002747,1.0,0.0,126.427155,...,113.955147,126.421173,8.800337,11.446084,11.446084,1.0,1.0,1.0,1.0,503.194593
4,2018-01-01 01:04:00,364.566101,0.00068,1726.88233,0.0,101.902542,68.002853,1.0,0.0,126.918961,...,114.381531,126.912971,8.814619,11.446084,11.446084,1.0,1.0,1.0,1.0,503.895945
5,2018-01-01 01:05:00,364.566101,0.00068,1726.88233,0.0,102.390610,68.002960,1.0,0.0,127.408401,...,114.977264,127.402466,8.828846,11.446084,11.446084,1.0,1.0,1.0,1.0,434.869832
6,2018-01-01 01:06:00,364.566101,0.00068,1726.88233,0.0,102.899391,68.003075,1.0,0.0,127.902184,...,116.289192,127.896141,8.857410,11.446084,11.446084,1.0,1.0,1.0,1.0,124.506489
7,2018-01-01 01:07:00,364.566101,0.00068,1726.88233,0.0,103.435463,68.003189,1.0,0.0,128.408936,...,117.588165,128.402664,8.857410,11.446084,11.446084,1.0,1.0,1.0,1.0,606.821563
8,2018-01-01 01:08:00,364.566101,0.00068,1726.88233,0.0,103.973465,68.003296,1.0,0.0,128.931549,...,117.587227,128.925171,8.871637,11.446084,11.446084,1.0,1.0,1.0,1.0,606.821563
9,2018-01-01 01:09:00,364.566101,0.00068,1726.88233,0.0,104.493942,68.003403,1.0,0.0,129.455872,...,117.668198,129.449493,8.885920,11.446084,11.446084,1.0,1.0,1.0,1.0,586.595978

In [4]:
df.isna().sum()

Datetime          0
BOI_FLOW_1        0
BOI_FLOW_2        0
BOI_GAS_CSUM_1    0
BOI_GAS_CSUM_2    0
BOI_RW_TEMP_1     0
BOI_RW_TEMP_2     0
BOI_STA_1         0
BOI_STA_2         0
BOI_SW_TEMP_1     0
BOI_SW_TEMP_2     0
HWL_DP            0
HWL_DPSPT         0
HWL_RW_TEMP       0
HWL_SW_TEMP       0
OA_TEMP           0
PM_POW_1          0
PM_POW_2          0
PM_SPD_1          0
PM_SPD_2          0
PM_STA_1          0
PM_STA_2          0
SEC_POW           0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525540 entries, 0 to 525539
Data columns (total 23 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Datetime        525540 non-null  datetime64[ns]
 1   BOI_FLOW_1      525540 non-null  float64
 2   BOI_FLOW_2      525540 non-null  float64
 3   BOI_GAS_CSUM_1  525540 non-null  float64
 4   BOI_GAS_CSUM_2  525540 non-null  float64
 5   BOI_RW_TEMP_1   525540 non-null  float64
 6   BOI_RW_TEMP_2   525540 non-null  float64
 7   BOI_STA_1       525540 non-null  float64
 8   BOI_STA_2       525540 non-null  float64
 9   BOI_SW_TEMP_1   525540 non-null  float64
 10  BOI_SW_TEMP_2   525540 non-null  float64
 11  HWL_DP          525540 non-null  float64
 12  HWL_DPSPT       525540 non-null  float64
 13  HWL_RW_TEMP     525540 non-null  float64
 14  HWL_SW_TEMP     525540 non-null  float64
 15  OA_TEMP         525540 non-null  float64
 16  PM_POW_1        525540 non-null  float64
 17  PM_POW_2        525540 non-null  float64
 18  PM_SPD_1        525540 non-null  float64
 19  PM_SPD_2        525540 non-null  float64
 20  PM_STA_1        525540 non-null  float64
 21  PM_STA_2        525540 non-null  float64
 22  SEC_POW         525540 non-null  float64
dtypes: datetime64[ns](1), float64(22)
memory usage: 92.2 MB

In [11]:
for i in df.columns:
    print(f"Column: {i}")
    print("Unique values:", df[i].nunique())
    print()

Column: Datetime
Unique values: 525540

Column: BOI_FLOW_1
Unique values: 265766

Column: BOI_FLOW_2
Unique values: 266310

Column: BOI_GAS_CSUM_1
Unique values: 257202

Column: BOI_GAS_CSUM_2
Unique values: 6090

Column: BOI_RW_TEMP_1
Unique values: 11126

Column: BOI_RW_TEMP_2
Unique values: 5948

Column: BOI_STA_1
Unique values: 1

Column: BOI_STA_2
Unique values: 2

Column: BOI_SW_TEMP_1
Unique values: 20774

Column: BOI_SW_TEMP_2
Unique values: 6247

Column: HWL_DP
Unique values: 6701

Column: HWL_DPSPT
Unique values: 1

Column: HWL_RW_TEMP
Unique values: 30466

Column: HWL_SW_TEMP
Unique values: 22794

Column: OA_TEMP
Unique values: 342464

Column: PM_POW_1
Unique values: 263841

Column: PM_POW_2
Unique values: 213904

Column: PM_SPD_1
Unique values: 254350

Column: PM_SPD_2
Unique values: 13249

Column: PM_STA_1
Unique values: 1

Column: PM_STA_2
Unique values: 2

Column: SEC_POW
Unique values: 236356

In [16]:
# will remove columns which have unique values < 2

for i in df.columns:
    #print(f"Column: {i}")
    #print("Unique values:", df[i].nunique())
    if df[i].nunique() < 2:
        df = df.drop([i], axis=1)
        print(df.columns)

# Boiler System Dataset: Column Descriptions

- **Datetime**: The timestamp.
- **BOI_FLOW_1**: Water flow rate through Boiler 1 (GPM).
- **BOI_FLOW_2**: Water flow rate through Boiler 2 (GPM).
- **BOI_GAS_CSUM_1**: Cumulative gas consumption of Boiler 1 (kW).
- **BOI_GAS_CSUM_2**: Cumulative gas consumption of Boiler 2 (kW).
- **BOI_RW_TEMP_1**: Return water temperature to Boiler 1 (Â°F).
- **BOI_RW_TEMP_2**: Return water temperature to Boiler 2 (Â°F).
- **BOI_STA_1**: Operational status of Boiler 1 (1 = ON, 0 = OFF).
- **BOI_STA_2**: Operational status of Boiler 2 (1 = ON, 0 = OFF).
- **BOI_SW_TEMP_1**: Supply water temperature from Boiler 1 (Â°F).
- **BOI_SW_TEMP_2**: Supply water temperature from Boiler 2 (Â°F).
- **HWL_DP**: Differential pressure in the hot water loop (in Hâ‚‚O).
- **HWL_DPSPT**: Setpoint for differential pressure in the hot water loop (in Hâ‚‚O).
- **HWL_RW_TEMP**: Return water temperature in the hot water loop (Â°F).
- **HWL_SW_TEMP**: Supply water temperature in the hot water loop (Â°F).
- **OA_TEMP**: Outdoor air temperature (Â°F).
- **PM_POW_1**: Power consumption of Pump 1 (kW).
- **PM_POW_2**: Power consumption of Pump 2 (kW).
- **PM_SPD_1**: Speed ratio of Pump 1 (0 to 1).
- **PM_SPD_2**: Speed ratio of Pump 2 (0 to 1).
- **PM_STA_1**: Operational status of Pump 1 (1 = ON, 0 = OFF).
- **PM_STA_2**: Operational status of Pump 2 (1 = ON, 0 = OFF).
- **SEC_POW**: Secondary loop power consumption (kW).